.app-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f2f2f2;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .timer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .timer {
    font-size: 4rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
  }
  
  .button-container {
    display: flex;
    align-items: center;
  }
  
  .button {
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1.5rem;
    margin-right: 10px;
    border: none;
    background-color: #e5e5e5;
    color: #333;
    cursor: pointer;
  }
  
  .active {
    background-color: #6db65b;
    color: #fff;
  }
  